#screen {

}
#page {
	text-align: center; /*Page is id of whole page centers all text write under to override*/
} 
.calandar_description {
	padding: 15px;
}

.header h1 {
	text-align: center;
	font-size: 3rem;
}

.footer {
	text-align: center;
}

.nav {
	margin: 10px;
}

.about-btn, .login-btn {
	margin-right: 5px;
}

.contact-btn, .signup-btn {
	margin-left: 5px;
}